{
  "extends": "airbnb",
  "plugins": [
    "googleappsscript"
  ],
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "rules": {
    "import/prefer-default-export": [
      0
    ]
  }
}